input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  }

#log, #pass {
    text-align: left;
}
#log p, #pass p{
    text-align: right;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 1.3ex;
    font-size: 88%;
    border: 1px solid gray;
    border-radius: 1ex;
    color: gray;
 
    
}
input[type="text"]:focus, input[type="password"]:focus{
    border: 1px solid rgb(23, 164, 245);
    outline: 0;
    box-shadow: 0px 0px 10px -3px rgb(23, 164, 245);
    

 
    
}

input[type="text"]{
    margin-bottom: 2ex;
    
}

#check{
    text-align: left;
}

input[type="submit"]{
    background-color: rgb(243, 102, 102);
    color: white;
    padding: 1.5ex 4.5ex;
    border: 0;
    outline: 0;
    border-radius: 1ex;
    font-size: 110%;
    margin-top: 3ex;
    margin-bottom: 1.5ex;
    
}

@media screen and (max-width: 820px) {
    #main{
        border: none;
    }
   
}
